langchain-community>=0.4.2
langchain-text-splitters>=1.1.2
langchain-huggingface>=1.2.2
langchain-pinecone>=0.2.0
pinecone>=7.0.0,<8.0.0
sentence-transformers>=3.3,<4
numpy<2
transformers>=4.41,<5
python-dotenv>=1.2.3
gradio>=5.0,<6
fastapi==0.115.2
starlette==0.38.6
pypdf>=6.19.0
pydantic>=2.11.1,<2.12
onnxruntime==1.19.2
torch==2.2.2
langchain-pinecone>=0.2.0
pinecone>=7.0.0,<8.0.0
langchain-openai>=1.6.3